@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer base {
  h1 {
    @apply text-4xl lg:text-5xl;
  }
  h2 {
    @apply text-3xl lg:text-4xl;
  }

  a {
    @apply no-underline text-primary hover:underline;
  }

  body {
    @apply font-space-mono text-text-dark dark:text-white text-sm lg:text-base;
  }
}

@layer components {
  .button.style1 {
    @apply flex items-stretch bg-primary text-text-dark rounded-full h-12;
  }
  .button.style1.size-md .button-text {
    @apply pl-6 pr-4 flex items-center transition-all duration-300;
  }
  button.style1.size-md:hover .button-text {
    @apply pr-6;
  }
  .button.style1 .button-icon-container {
    @apply h-12 w-12 transition duration-300 rounded-full p-1;
  }
  .button.style1 .button-icon-container .button-icon-wrapper {
    @apply w-10 h-10 relative bg-text-dark rounded-full text-white ml-auto;
  }
  .button.style1 .button-icon-container .button-icon-wrapper svg {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}

.animation-pulse {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
